.card {
    width: 100%;
    max-width: 380px;
    margin: 10px 0 0px;
    padding: 10px 10px;
    position: relative;
    border: 1px solid #FAFAFA;
    border-radius: 10px;
}

.card_art {
    position: relative;
}

.card_art img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;

}

.card_art h3 {
    position: absolute;
    bottom: 5px;
    font-size: 16px;
}

.ver{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 16px;
    color: cadetblue;
}